/*--------end default style---------*/
a{
	color: inherit;
	text-decoration: none;
}
a:hover,
a::visited,
a::active,
a::focus{
	text-decoration: none;
	color: inherit;
	outline: none;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
body{
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: #ffffff;
	font-size: 16px;
	background-color: #010101;
}
.container{
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 1280px;
}
/*--------end default style---------*/
/*--------start header style---------*/
.header{
	background: url(../img/bg_header.png) no-repeat;
	background-size: cover;
    background-position: top center;
    min-height: 1161px;
}
/*--------start menu style---------*/
.btn_menu{
	width: 47px;
	height: 32px;
	margin: 90px 0 0 20px;
	display: inline-block;
	outline: none;
	border: none;
	background-color: transparent;
}
.menu ul{
	display: none;
	padding: 10px 0 0 20px;
	font-size: 24px;
	line-height: 24px;
}
.menu li{
	padding-bottom: 20px;
}
/*--------end menu style---------*/
.top_header{
	padding: 90px 0 100px 0;
	margin-top: -125px;
}
.logo{
	padding-left: 96px;
}
.header_content{
	padding-top: 410px;
}
.header_content h1{
	font-size: 50px;
	font-weight: 800;
	max-width: 400px;
	padding-bottom: 40px;
}
.header_content p{
	font-weight: 200;
	font-size: 26px;
	line-height: 36px;
	max-width: 210px;
	padding-bottom: 98px;
}
.header_content a{
	font-weight: 100;
}
.header_content img{
	padding-left: 60px;
}
/*--------end header style---------*/
/*--------start about style---------*/
.about{
	background: url(../img/bg_about.png) no-repeat;
	background-size: cover;
    background-position: top center;
    min-height: 1161px;
}
.title{
	color: #ffce00;
	line-height: 28px;
	font-weight: 600;
	letter-spacing: 4px;
	padding-bottom: 40px;
	text-transform: uppercase;
}
.about_title{
	padding: 185px 0 275px 320px;
}
.about_title p{
	font-size: 26px;
	line-height: 36px;
	max-width: 320px;
}
.about_content h2{
	font-size: 30px;
	line-height: 45px;
	font-weight: 800;
}
.about_content p{
	padding: 40px 0 20px 0;
	max-width: 315px;
	font-size: 16px;
	line-height: 26px;
}
/*--------end about style---------*/
/*--------start client style---------*/
.client_title{
	padding-top: 120px;
}
.client_title h3{
	padding-left: 320px;
}
.box_client img{
	padding-bottom: 70px;
}
.box_client img + img{
	padding-left: 89px;
}
.box_client img:nth-child(5){
	padding-left: 0;
}
.client_title p{
	font-size: 14px;
	line-height: 24px;
	padding: 15px 0 20px 320px;
	max-width: 320px;
}
/*--------end client style---------*/
/*--------start portfolio style---------*/
.portfolio_title h3{
	padding-top: 145px;
}
.portfolio_title p{
	font-size: 26px;
	line-height: 36px;
	max-width: 320px;
}
.portfolio_box{
	padding-top: 55px;
}
.portfolio_box p{
	max-width: 255px;
}
.portfolio_box img{
	padding-bottom: 20px;
}
.img_1,
.img_2,
.img_3,
.img_4,
.img_5{
	display: inline-block;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	vertical-align: top;
}
.img_1{
	padding: 110px 130px 160px 0;
}
.img_2{
	padding-right: 50px;
}
.img_3{
	padding-top: 185px;
}
.img_5{
	padding: 190px 0 50px 348px;
}
/*--------end portfolio style---------*/
/*--------start slider style---------*/
.box_slider{
	margin: 240px 0 115px 0;
}
.items_slider h3{
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 3px;
}
.slide_text{
	font-size: 14px;
	line-height: 24px;
	float: right;
	padding: 85px 120px 0 0;
}
.slick-dotted.slick-slider{
    margin-bottom: 145px;
}
.slick-dots{
    display: block;
    width: 100%;
    list-style: none;
    text-align: center;
    font-size: 0;
}
.slick-dots li {
    position: relative;
    display: block;
    float: left;
    margin: 0 7px 0 0 ;
    padding: 0;
    cursor: pointer;
}
.slick-dots li:last-child {
    margin-right: 0;
}
.slick-dots li.slick-active button {
    background-color: #ffce00;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 50px;
    height: 2px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-color: #ffffff;
}
/*--------end slider style---------*/
/*--------start services style---------*/
.services{
	background: url(../img/bg_services.png) no-repeat;
	background-size: cover;
    background-position: top center;
    min-height: 3160px;
}
.serv_title{
	padding-top: 100px;
	float: right;
}
.serv_title h2{
	padding-right: 220px;
}
.serv_title p{
	padding-right: 75px;
	max-width: 245px;
	font-size: 26px;
	line-height: 36px;
}
.items h3{
	font-size: 30px;
	line-height: 45px;
	font-weight: 800;
	max-width: 320px;
	padding-bottom: 40px;
}
.items p{
	max-width: 320px;
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 30px;
}
.cofe{
	padding-top: 235px;
}
.corporate{
	padding: 270px 0 0 320px;

}
.corporate p{
	display: inline-block;
	vertical-align: top;
}
.cor_text{
	float: right;
}
.reception{
	padding-top: 935px;
}
/*--------end services style---------*/
/*--------start contact style---------*/
.contact{
	margin-top: 240px;
}
.contact::after{
	content: "";
	display: block;
	clear: both;
}
.serv_order{
	padding-bottom: 235px;
	float: left;
}
.serv_order h1{
	font-size: 50px;
	font-weight: 800;
	padding-bottom: 70px;
}
.serv_order a{
	font-weight: 100;
}
.serv_order img{
	padding-left: 60px;
}
.address{
	padding-top: 135px;
	float: left;
}
.address p,
.site a{
	font-size: 26px;
	line-height: 36px;
}
.telephone p{
	padding: 125px 0 20px 0;
	font-size: 40px;
}
.telephone span{
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.map iframe{
	max-width: 640px;
	height: 708px;
	width: 100%;
	border: none;
	float: right;
	padding-bottom: 94px;
}
/*--------end contsct style---------*/
/*--------start footer style---------*/
.footer{
	padding-bottom: 55px;
}
.footer span{
	padding-left:2px;
	float: left;
	font-size: 14px;
	line-height: 47px;
	font-weight: 400;
}
.footer img{
	float: right;
	padding-right: 2px;
	line-height: 24px;
}
/*--------end footer style---------*/


.hidden{
opacity:0;
}
.visible{
opacity:1;
}